*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar nav li a{
list-style: none;
text-decoration: none;
}
.body{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.all{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://images.pexels.com/photos/1358389/pexels-photo-1358389.jpeg?auto=compress&cs=tinysrgb&w=600);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ig{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}
.img4 img{
    height: 400px;
    width: 550px;
}
.img3 img{
    height: 400px;
    width: 550px;   
}
.img2 img{
    height: 400px;
    width: 550px;
}
.head ul li a{
    text-decoration: none;
    color: white;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head ul  {
display: flex;
list-style: none;
gap: 30px;
float: right;
padding-top: 15px;
padding-right: 30px;
}
.head ul li:hover{
    background-color:  rgb(196, 28, 56) ;
    padding: 5px;
    border-radius: 10px;
}
.log img{
    height: 70px;
    width: 100px;
    margin-left: 25px;
    padding-left: 60px;
    padding: 6px;
}
.head{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0 3px;
    background-color: black;
    /* position: fixed; */
    width: 100%;
}
.al{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.ph{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.products{
   display: flex;
   gap: 25px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left:  70px;
    flex-wrap: wrap;
    
}
#product-detail a:hover{
    background-color:white;

}

#product{
    background-color:black;
   width: 22%;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
#product:hover{
    background-color:  rgb(196, 28, 56) ;
  
}


.pt img{
    height: 200px;
    width: 230px;
}
#product-detail{
    padding: 10px; 

}
.pr{
    display: flex;
    gap: 25px;
     width: 100%;
     padding-top: 20px;
     padding-bottom: 30px;
     padding-left:  70px;
     flex-wrap: wrap;
}

.dc{
   
    display: flex;
    gap: 25px;
     width: 100%;
     padding-top: 20px;
     padding-bottom: 30px;
     padding-left:  70px;
     flex-wrap: wrap; 
}
.in a{
    margin-left: 40%;
margin-bottom: 50px;
}
.in {
    padding-bottom: 30px;
}

.bu a{
text-decoration: none;color: white;background-color:rgb(196, 28, 56) ;padding: 10px;border-radius: 10px;
font-weight: 900;
}
.bu a:hover{
    color: black;
}
.order{
    padding-top:100px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;
}
.order ul li a{
    text-decoration: none;color: black;
}
.order ul{
    display: flex;gap: 40px;list-style: none;margin-left: 25%;color: black;background-color: rgb(196, 28, 56);
    padding: 10px;
}

.vd{
    position: absolute;z-index: -1;top: 100px;margin-left: 20px;border-radius: 20px;
}
.do{
    position: absolute;z-index: -1;margin-left: 20px;border-radius: 20px;  
}
.de{
    position: absolute;z-index: -1;;border-radius: 20px;  right: 20px;top: 100px;
}
.gin{
float: right; margin-top: -750px;margin-right: 170px;
}
.gi{
    position: absolute;z-index: -1;;border-radius: 20px;  right: 20px;  margin-top: -40px;
}
.lun{
    float: right; margin-top: -300px;margin-right: 170px; 
}
.co{
    position: absolute;z-index: -1;;border-radius: 20px;  left: 20px;  margin-top: -60px;   
}
.tea{
    float: right; margin-top: 110px;margin-right: 170px;  
}
.fr{
    position: absolute;z-index: -1;;border-radius: 20px; margin-left: 20px;  margin-top: -60px;
}
.fruit{
    float: right; margin-top: 110px;margin-right: 170px;  
}



.form{
    width: 380px;height: 500px;position: relative;margin: 6% auto;background: white;padding: 5px;
}
.box{
    width: 220px;margin: 35px auto;position: relative;box-shadow: 0 0 20px 9px #ff61241f;border-radius: 30px;
}
.toggle{
    padding: 10px 30px;cursor: pointer;background: transparent;border: 0;outline: none;position: relative;
}
#btn{
    top: 0;position: absolute;width: 110px;height: 100%;transition: .5s;
    left: 0;background: linear-gradient(to right,#ff105f, black);border-radius: 30px;
}
.inputform{
    top: 100px;position: absolute;width: 280px;transition: .05s;
}
.inputfield{
    width: 100%;padding: 10px 0; margin: 5px 0;border-top: 0;border-left: 0;border-right: 0;
    border-bottom: 1px solid #999;outline: none;background: transparent;
}
.submitbo{
    width: 85%;padding: 10px 30px;cursor: pointer;display: block;margin: auto;
    background: linear-gradient(to right,#ff105f, black);border: 0;outline: none;border-radius: 30px;
    
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;font-size: 12px;bottom: 68px;position: absolute;
}
select{
    width: 100%;padding: 10px 0; margin: 5px 0;border-top: 0;border-left: 0;border-right: 0;
    border-bottom: 1px solid #999;outline: none;background: transparent; 
}
#login{
    left: 50px;
}
#register{
    left: 50px;
}
.hero{
    background-image: url(https://images.pexels.com/photos/7534342/pexels-photo-7534342.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position:center;
    padding-top: 40px;padding-bottom: 5px;
}